:root{
    --bord: solid black;
    --bg-color: bisque;
}
body{
    margin: 0;
    padding: 0;
    background-color:bisque;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header{
    font-size: 40px;
    border-bottom: 1px var(--bord);
    text-align: center;
    padding: 10px;
}
#main{
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    height: 90vh;
    box-sizing: border-box;
    display: block;
    border: var(--bord);
}
#endGame{
    position: absolute;
    background-color: var(--bg-color);
    border: 2px var(--bord);
    width: 50vw;
    margin-left: 25vw;
    height: 80vh;
    margin-top: 10vh;
    z-index: 1;
}
.blured{
    filter: blur(10px);
}
#endGame div{
    margin: 10%;
    text-align: center;
    padding-top: 15px;
    background: white;
    width: 80%;
    height: 30px;
    border: 1px var(--bord);
}
#score{
    text-align: left !important;
    padding-left: 10px;
}
#restart{
    margin-left: 10%;
    padding-top: 40px !important;
    text-align: center;
    background-color: var(--bg-color);
    width: 80%;
    height: 60px !important;
}
.leaders{
    position: absolute;
    background-color: var(--bg-color);
    border: 2px var(--bord);
    width: 50vw;
    margin-left: 25vw;
    height: 80vh;
    margin-top: 10vh;
    z-index: 1;
}